# add git-ignore syntax here of things you don't want copied into docker image
*Dockerfile*
*docker-compose*
node_modules
.editorconfig
.gitattributes
.gitignore
.gitlab-ci.yml
.idea
.pre-commit-config.yaml
.readthedocs.yml
venv
.git
.envs/
.env
